html{
	font-family: 'trebuchet MS';
}
header{
	text-align: center;
	background-color: #e8f5e9;
}

nav,article,aside{
	display: inline-block;
}
nav{
	float:left;
	padding-left: 80px;
	padding-right: 70px;
	position:relative;
}
aside{
	float: right;
	padding-right: 100px;
	position: absolute;
	text-align: left;

}
.lineaVert{
	border-left: 1px solid #ff0000;
	height: 500px;
}
h2,p,a{
	padding-left: 10px;
	padding-right:20px; 
	text-decoration: none;
}
.rectangulo{
	border: 1px dotted #000;
	width: 300px;
	height: 200px;
	background-color: #ffffff;
	; /*aqui agregue una sombra la cual da un efecto de degradado fuera del rectangulo*/
}
footer{
	text-align: center;
}